<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sun.bingo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Push SDK权限 -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="cn.bmob.permission.push"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".BingoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="0cc721391e2db93ac9630fad28a31b89"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56010df167e58ec3fa000c9b"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${umengHolder}"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wUHSeG3wGU2588d6aSauMohh"/>
        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2013824991"/>
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.MainV2Activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.activity.BingoDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.EditNewBingoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.activity.RichEditorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.ImageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.MineBingoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 新浪微博账号登录页面 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 手机短信注册登录页面 -->
        <activity
            android:name="com.sina.weibo.sdk.register.mobile.MobileRegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 注册选择国家页面 -->
        <activity
            android:name="com.sina.weibo.sdk.register.mobile.SelectCountryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>
